/* SIDEBAR */
.sidebar {
    width: 260px;
    height: 100vh;
    background: #0b0b14;
    position: fixed;
    top: 0; left: 0;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 0 0 25px #a44cff50;
}

.sidebar h2 {
    color: #ff00d4;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 10px 0;
}

.sidebar-menu a {
    display: block;
    padding: 10px;
    border-radius: 8px;
    background: rgba(255,255,255,0.05);
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.sidebar-menu a:hover {
    background: linear-gradient(90deg,#a44cff,#ff00d4);
}

/* Sections */
.section {
    color: #888;
    font-size: 12px;
    margin-top: 20px;
    text-transform: uppercase;
}

/* HEADER */
.admin-header {
    margin-left: 260px;
    height: 60px;
    background: #11111c;
    box-shadow: 0 0 20px #a44cff40;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
    justify-content: space-between;
}

.admin-footer {
    margin-left: 260px;
    background: #0b0b14;
    padding: 20px;
    color: #777;
    text-align: center;
}
